body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #666666;
}

header {
  height: 60vh;
  background-image: url(../images/apple-pie.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  line-height: 60vh;
  color: white;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 30px;
}

.lead {
  font-size: 1.3rem;
}

ul.ingredients > li {
  list-style-type: none;
  text-indent: -5px;
}

ul.ingredients > li:before {
  content: "-";
  text-indent: -5px;
}